<button [attr.type]="type()" [disabled]="disabled() || loading()" class="relative bg-[rgba(0,93,181,1)]
         disabled:bg-light-disabled
         text-white font-semibold rounded-[var(--border-radius)]
         hover:bg-light-primary-hover
         transition-colors flex items-center justify-center gap-1
         min-h-[var(--button-height)] px-3 text-[var(--font-md)]" [class.w-full]="fullWidth()"
  [class.w-auto]="!fullWidth()">

  @if (loading()) {
  <i class="bi bi-arrow-clockwise animate-spin h-4 w-4 text-white"></i>
  <span class="text-[var(--font-sm)]">{{ loadingText() }}</span>
  } @else {
  <span>{{ label() }}</span>
  }
</button>