<button
  [attr.type]="type()"
  [disabled]="disabled() || loading()"
  class="relative h-11 sm:h-12 bg-light-primary dark:bg-dark-primary disabled:bg-light-disabled dark:disabled:bg-dark-disabled text-white text-sm sm:text-base font-semibold rounded-lg hover:bg-light-primary-hover dark:hover:bg-dark-primary-hover transition-colors flex items-center justify-center gap-2"
  [class.w-full]="fullWidth()"
>
  <!-- Loading spinner -->
  @if (loading()) {
  <mat-icon class="animate-spin h-5 w-5 text-white">refresh</mat-icon>
  <span>{{ loadingText() }}</span>
  } @else {
  <!-- Label -->
  <span>{{ label() }}</span>
  }
</button>
