<div class="d-flex flex-column justify-content-start align-items-start gap-4">
  <div
    class="cart-items-list d-flex flex-column justify-content-center align-items-start gap-4 w-100"
  >
    <!-- Cart Items List -->
    <div class="cart-list d-flex flex-column justify-content-between align-items-start gap-4 w-100">
      @if (cartItems.length === 0) {
        <div
          class="empty-cart-container d-flex flex-column justify-content-center align-items-center gap-4 w-100"
        >
          <h3 class="fs-5 fw-semibold">{{ 'cart.empty.title' | translate }}</h3>
          <p class="fs-6 fw-medium text-center">{{ 'cart.empty.description' | translate }}</p>
          <button class="btn btn-primary btn-lg" (click)="navigateToHome()">
            {{ 'cart.empty.explore-services-btn' | translate }}
          </button>
        </div>
      } @else {
        @for (cartItem of getPaginatedCartItems(); track cartItem.id) {
          <!-- Cart Item Card -->
          <div class="card flex-row p-3 rounded-4 w-100">
            <!-- Image Card & Overlay Container -->
            <div class="image-container rounded-3 overflow-hidden position-relative">
              <img src="{{ cartItem.image }}" [alt]="cartItem.name" class="w-100 h-100" />
            </div>

            <!-- Cart Item Card Body -->
            <div
              class="card-body d-flex flex-column justify-content-between align-items-start gap-1 py-0"
            >
              <!-- Cart Item Card Title & Subtitle -->
              <div
                class="cart-item-card-title-subtitle d-flex flex-column justify-content-between align-items-start gap-1"
              >
                <div class="d-flex justify-content-between align-items-center w-100">
                  <h3 class="fs-5 fw-semibold mb-0">{{ cartItem.name }}</h3>
                </div>
                <p class="fs-6 fw-medium overflow-hidden line-clamp-2 text-ellipsis text-wrap mb-0">
                  {{ cartItem.description }}
                </p>
              </div>

              <!-- Cart Item Card Price & Rating -->
              <div class="d-flex justify-content-between align-items-center w-100">
                <!-- Cart Item Card Price -->
                <div class="d-flex flex-column justify-content-start align-items-start gap-1">
                  <!-- Unit price helper text -->
                  <small class="text-muted">
                    {{ 'cart.cards.unit-price' | translate }}: ${{
                      cartItem.price | number: '1.2-2'
                    }}
                  </small>
                  <small class="text-muted">
                    {{ 'cart.cards.quantity' | translate }}: {{ cartItem.quantity }}
                  </small>
                  <div class="d-flex justify-content-start align-items-center gap-2">
                    <!-- Total price (unit price * quantity) -->
                    <span class="price-offer fw-bold">
                      ${{ cartItem.price * cartItem.quantity | number: '1.2-2' }}
                    </span>
                    <!-- Original total price before discount -->
                    <span class="orignal-price text-muted">
                      <del class="text-muted">
                        ${{ cartItem.priceBefore * cartItem.quantity | number: '1.2-2' }}
                      </del>
                    </span>
                  </div>
                </div>

                <!-- Cart Item Card Rating -->
                <div class="rating-container d-flex justify-content-start align-items-center gap-1">
                  <app-rating [rating]="cartItem.rate"></app-rating>
                  <span class="ratings-count fs-75">({{ cartItem.rateCount }})</span>
                </div>
              </div>

              <!-- Cart Item Card Button -->
              <div
                class="button-container d-flex justify-content-start align-items-center gap-2 w-100 mt-2"
              >
                <!-- Cart Item Buy Now Button -->
                <button
                  class="btn btn-primary card-btn text-nowrap py-2 px-4 w-50"
                  (click)="removeFromCart(cartItem.id)"
                >
                  {{ 'cart.cards.remove-btn' | translate }}
                </button>

                <!-- Cart Item Add to Cart Button -->
                <button
                  class="btn btn-outline-primary card-btn text-nowrap py-2 px-4 w-50"
                  (click)="saveForLater(cartItem.id)"
                >
                  {{ 'cart.cards.save-for-later-btn' | translate }}
                </button>
              </div>
            </div>
          </div>
        }
      }
    </div>

    <!-- Pagination Controls -->
    <nav aria-label="Cart items pagination" class="mt-4 align-self-start">
      <ul class="d-flex justify-content-center align-items-center gap-4">
        <!-- dropdown for page size -->
        <li class="btn-group">
          <button
            type="button"
            class="btn btn-primary primary-bg-clr dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ pageSize }}
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="onPageSizeChange(2)">2</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="onPageSizeChange(4)">4</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="onPageSizeChange(6)">6</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="onPageSizeChange(8)">8</a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0)" (click)="onPageSizeChange(10)"
                >10</a
              >
            </li>
          </ul>
        </li>
        <!-- Previous Page -->
        <li
          class="page-item arrow-item p-2 rounded-circle d-flex justify-content-center align-items-center cursor-pointer"
          [class.disabled]="currentPage === 1"
          (click)="onPreviousPage()"
        >
          <i class="pi pi-chevron-left fs-875 orange-text-clr"></i>
        </li>
        <!-- Page Numbers -->
        @for (i of totalPages; track i) {
          <li
            class="page-item py-1 px-2 cursor-pointer"
            [class.active]="currentPage === i"
            [class.disabled]="currentPage != i"
          >
            <a class="page-link" href="javascript:void(0)" (click)="onPageChange(i)">{{ i }}</a>
          </li>
        }
        <!-- Next Page -->
        <li
          class="page-item arrow-item p-2 rounded-circle d-flex justify-content-center align-items-center cursor-pointer"
          [class.disabled]="currentPage === totalPages.length"
          (click)="onNextPage()"
        >
          <i class="pi pi-chevron-right fs-875 orange-text-clr"></i>
        </li>
      </ul>
    </nav>
  </div>
</div>
