.all-services-container {
  background-color: var(--bg-clr);
}

.active-service {
  background-color: var(--primary-clr);
  color: var(--text-light-clr);

  &:hover {
    background-color: var(--primary-clr-hover);
    color: var(--text-light-clr);
  }
}

@media screen and (min-width: 768px) {
  .all-services-subtitle {
    width: 45% !important;
  }
}
