.left-rounded {
  border-radius: 0.25rem 0 0 0.25rem;
}
.right-rounded {
  border-radius: 0 0.25rem 0.25rem 0;
}

.muted-borders {
  border: 1px solid #d0d0d0;
}

.text-grey {
  color: #393939 !important;

  &:hover {
    background-color: #d0d0d0;
    color: #fff !important;
  }
}

.primary-bg-hover {
  &:hover {
    background-color: #005db5;
    color: #fff !important;
  }
}
