.pic-item {
  width: 12.9375rem;
  height: 12.9375rem;
  flex-shrink: 0;
}

.grey-clr {
  color: #b6b6b6;
}
.grey-bg-clr {
  background-color: #ddd;
}

.flag-icon {
  width: 1.25rem !important;
}

.dropdown-toggle {
  border: var(--bs-border-width) solid var(--bs-border-color);
}
