<div class="d-flex flex-column justify-content-start align-items-start gap-4">

  <div class="cart-items-list d-flex flex-column justify-content-center align-items-start gap-4 w-100">

    <!-- Cart Items List -->
    <div class="cart-list d-flex flex-column justify-content-between align-items-start gap-4 w-100">
      @for (cartItem of getPaginatedCartItems(); track cartItem.id) {

      <!-- Cart Item Card -->
      <div class="card flex-row p-3 rounded-4 w-100">
        <!-- Image Card & Overlay Container -->
        <div class="image-container rounded-3 overflow-hidden position-relative">
          <img src="assets/images/all-services/{{cartItem.image}}" [alt]="cartItem.title" class="w-100 h-100" />
          <div class="image-overlay position-absolute d-flex justify-content-center align-items-center"
            [class]="cartItem.type + '-card'">
            <span class="text-white fs-875 fw-medium text-center text-nowrap w-100 h-100">
              {{'services-list.'+ cartItem.type | translate}}
            </span>
          </div>
        </div>

        <!-- Cart Item Card Body -->
        <div class="card-body d-flex flex-column justify-content-between align-items-start gap-1 py-0">

          <!-- Cart Item Card Title & Subtitle -->
          <div class="cart-item-card-title-subtitle d-flex flex-column justify-content-between align-items-start gap-1">
            <h3 class="fs-5 fw-semibold">{{cartItem.title}}</h3>
            <p class="fs-6 fw-medium overflow-hidden text-ellipsis">{{cartItem.subTitle}}</p>
          </div>

          <!-- Cart Item Card Price & Rating -->
          <div class="d-flex justify-content-between align-items-center w-100">

            <!-- Cart Item Card Price -->
            <div class="d-flex justify-content-start align-items-center gap-3">
              <span class="price-offer fw-bold">${{cartItem.priceOffer}}</span>
              <span class="orignal-price text-muted"><del class="text-muted">${{cartItem.orignalPrice}}</del></span>
            </div>

            <!-- Cart Item Card Rating -->
            <div class="rating-container d-flex justify-content-start align-items-center gap-1">
              <app-rating [rating]="cartItem.rating"></app-rating>
              <span class="ratings-count fs-75">({{cartItem.ratingsCount}})</span>
            </div>
          </div>

          <!-- Cart Item Card Button -->
          <div class="button-container d-flex justify-content-start align-items-center gap-2 w-100 mt-2">

            <!-- Cart Item Buy Now Button -->
            <button class="btn btn-primary card-btn text-nowrap py-2 px-4 w-50"
              (click)="removeFromCart(cartItem.id)">Remove</button>

            <!-- Cart Item Add to Cart Button -->
            <button class="btn btn-outline-primary card-btn text-nowrap py-2 px-4 w-50"
              (click)="saveForLater(cartItem.id)">Save for later</button>
          </div>
        </div>
      </div>
      }
    </div>

    <!-- Pagination Controls -->
    <nav aria-label="Cart items pagination" class="mt-4 align-self-start">
      <ul class="d-flex justify-content-center align-items-center gap-4">
        <!-- dropdown for page size -->
        <li class="btn-group">
          <button type="button" class="btn btn-primary primary-bg-clr dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{pageSize}}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="onPageSizeChange(2)">2</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="onPageSizeChange(4)">4</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="onPageSizeChange(6)">6</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="onPageSizeChange(8)">8</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="onPageSizeChange(10)">10</a></li>
          </ul>
        </li>
        <!-- Previous Page -->
        <li
          class="page-item arrow-item p-2 rounded-circle d-flex justify-content-center align-items-center cursor-pointer"
          [class.disabled]="currentPage === 1" (click)="onPreviousPage()">
          <i class="pi pi-chevron-left fs-875 orange-text-clr"></i>
        </li>
        <!-- Page Numbers -->
        @for (i of totalPages; track i ) {
        <li class="page-item py-1 px-2 cursor-pointer" [class.active]="currentPage === i"
          [class.disabled]="currentPage != i">
          <a class="page-link" href="javascript:void(0)" (click)="onPageChange(i)">{{i}}</a>
        </li>
        }
        <!-- Next Page -->
        <li
          class="page-item arrow-item p-2 rounded-circle d-flex justify-content-center align-items-center cursor-pointer"
          [class.disabled]="currentPage === totalPages.length" (click)="onNextPage()">
          <i class="pi pi-chevron-right fs-875 orange-text-clr"></i>
        </li>
      </ul>
    </nav>
  </div>


</div>
