.step {
  width: 3.75rem;
  height: 3.75rem;
}

.line-container {
  width: 14.9375rem;
  height: 0.0625rem;
  background: #d0d0d0;
}

.checkout-container-header {
  background: #fff;
}

.steps-titles-container,
.steps-container {
  // gap: 12rem;
  width: 40% !important;
}
