<div class="container-fluid how-it-works">
  <div class="how-it-works-header w-100 d-flex flex-column justify-content-center align-items-center mb-5">
    <h1 class="how-it-works-title fs-1">
      <span class="text-black">{{'how-it-works.title1'| translate}}</span>
      <span class="text-highlight-primary">{{'how-it-works.title2'| translate}}</span>
    </h1>
    <p class="how-it-works-description mt-4 fw-light fs-4 text-center">
      {{'how-it-works.description'| translate}}
    </p>
  </div>

  <app-step-path-mobile class="d-block d-sm-none"></app-step-path-mobile>
  <app-step-path-pc class="d-none d-sm-block"></app-step-path-pc>

</div>
