<div class="container-fluid how-it-works">
  <div class="title-container d-flex flex-column justify-content-center align-items-center gap-3 mb-5">
    <h1 class="title fw-medium">
      <span class="txt-clr">{{ 'how-it-works.title1'| translate }}</span>
      <span class="text-highlight">{{ 'how-it-works.title2'| translate }}</span>
    </h1>
    <div class="decoration-underline d-flex justify-content-between align-content-center w-25">
      <div class="h-100 primary-bg-clr w-50"></div>
      <div class="h-100 dark-bg-clr w-50"></div>
    </div>
  </div>


  <app-step-path-mobile class="d-block d-sm-none"></app-step-path-mobile>
  <app-step-path-pc class="d-none d-sm-block"></app-step-path-pc>

</div>