.how-it-works {
  padding-block-start: 8.5rem !important;
  padding-block-end: 3rem !important;
}

.text-highlight-primary {
  color: var(--primary-clr);
}

.how-it-works-description {
  color: var(--text-mute-clr);
  line-height: 154% !important;
}


