<nav class="navbar navbar-expand-xl px-3 p-lg-5">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <a class="navbar-brand w-25" href="#">
      <img src="assets/images/logo/logo.png" alt="" class="w-100 main-logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas" [class]="isArabic ? 'offcanvas-end' : 'offcanvas-start'" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">

      <div class="offcanvas-header">
        <img src="assets/images/gahbiz-logo.png" alt="" class="w-25">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <div
          class="container-fluid p-0 m-0 d-flex flex-column flex-xl-row justify-content-xl-between align-items-xl-center">

          <ul class="navbar-nav mb-2 mb-lg-0 gap-4" [class]="isArabic ? 'ms-auto cairo' : 'me-auto'"
            [class]="isSpanish ? 'gap-2 text-nowrap' : ''">
            <li class="nav-item">
              <a class="nav-link fw-medium orange-hover fs-6" routerLink="/home">{{'navbar.home' | translate}}</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-medium orange-hover services-dropdown-toggle fs-6" href="#"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{'navbar.services' | translate}}
              </a>
              <ul class="dropdown-menu dropdown-menu-end services-dropdown" aria-labelledby="navbarDropdown">
                @for (service of services; track service.id) {
                <li>
                  <a class="dropdown-item" href="javascript:void(0)" (click)="setActiveServiceList(service.id)">{{
                    isArabic ? service.serviceAr : isEnglish ? service.serviceEn :
                    service.serviceSp }}</a>
                </li>
                }
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-medium orange-hover fs-6" routerLink="/about">{{'navbar.about' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-medium orange-hover fs-6" routerLink="/faq">{{'navbar.faq' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-medium orange-hover fs-6" routerLink="/contact">{{'navbar.contact' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-medium orange-hover fs-6" routerLink="/search"><i class="pi pi-search fs-6"></i></a>
            </li>
          </ul>

          <div class="d-flex justify-content-start align-items-center gap-4 navbar-actions"
            [class]="isArabic ? ' ms-auto cairo' : 'me-auto'" [class]="isSpanish ? 'gap-2 text-nowrap' : ''">

            <div class="btn-group language-btn-group">
              <button type="button" class="btn gap-2 d-flex align-items-center outline-0" data-bs-toggle="dropdown"
                aria-expanded="false" [title]="isEnglish ? 'English' : isArabic ? 'عربي' : isSpanish ? 'Español' : ''">
                <i class="pi pi-globe fs-6"></i>
              </button>

              <ul class="dropdown-menu language-dropdown">
                <li>
                  <a class="dropdown-item d-flex align-items-center gap-2" href="#" (click)="changeLanguage('en')">
                    <img src="assets/images/navbar/language-icons/america.svg" alt="" class="flag-icon">
                    <span class="">{{'navbar.english' | translate}}</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center gap-2" href="#" (click)="changeLanguage('ar')">
                    <img src="assets/images/navbar/language-icons/egypt.svg" alt="" class="flag-icon">
                    <span class="">{{'navbar.arabic' | translate}}</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center gap-2" href="#" (click)="changeLanguage('sp')">
                    <img src="assets/images/navbar/language-icons/spain.svg" alt="" class="flag-icon">
                    <span class="">{{'navbar.spanish' | translate}}</span>
                  </a>
                </li>
              </ul>
            </div>

            @if (isLoggedIn$ | async) {
            <div class="d-flex align-items-center gap-3">
              <a routerLink="/cart" class="nav-link cart-icon-container">
                <i class="pi pi-shopping-bag icons"></i>
                @if (cartItemCount > 0) {
                <span class="cart-badge">{{ cartItemCount }}</span>
                }
              </a>

              <div class="dropdown">
                <a class="nav-link profile-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false" id="profileDropdown">
                  @if ((currentUser$ | async); as user) {
                  @if (user.profileImageUrl) {
                  <img [src]="user.profileImageUrl" alt="Profile" class="profile-pic-circle">
                  } @else {
                  <i class="pi pi-user icons"></i>
                  }
                  }
                </a>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                  <li>
                    <a class="dropdown-item d-flex align-items-center" routerLink="/complete-profile">
                      <i class="pi pi-user-edit me-2"></i>
                      {{'navbar.profile' | translate}}
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <button class="dropdown-item d-flex align-items-center text-danger" (click)="logout()">
                      <i class="pi pi-sign-out me-2"></i>
                      {{'navbar.logout' | translate}}
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            } @else {
            <a class="nav-link fw-normal primary-clr fs-6" routerLink="/auth/sign-in">
              {{'navbar.login' | translate}}
            </a>
            }

            <button type="button" class="btn btn-primary primary-bg fw-normal fs-6" routerLink="/">
              {{'navbar.bookaservice' | translate}}</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>