<!-- Main Nav -->
<nav class="navbar navbar-expand-xl px-3 p-lg-5">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <!-- Logo -->
    <a class="navbar-brand w-25" href="#">
      <img src="assets/images/logo/logo.png" alt="" class="w-100 main-logo">
    </a>

    <!-- Offcanvas Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas Content -->
    <div class="offcanvas" [class]="isArabic ? 'offcanvas-end' : 'offcanvas-start'" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">

      <!-- Offcanvas Header -->
      <div class="offcanvas-header">
        <img src="assets/images/gahbiz-logo.png" alt="" class="w-25">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <!-- Offcanvas Body -->
      <div class="offcanvas-body">
        <div
          class="container-fluid p-0 m-0 d-flex flex-column flex-xl-row justify-content-xl-between align-items-xl-center">

          <!-- Left Side Nav Links -->
          <ul class="navbar-nav mb-2 mb-lg-0 gap-4" [class]="isArabic ? 'ms-auto cairo' : 'me-auto'"
            [class]="isSpanish ? 'gap-2 text-nowrap' : ''">
            <!-- Home -->
            <li class="nav-item">
              <a class="nav-link fw-medium orange-hover fs-6" href="#">{{'navbar.home' | translate}}</a>
            </li>
            <!-- Services Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-medium orange-hover services-dropdown-toggle fs-6" href="#"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{'navbar.services' | translate}}
              </a>
              <ul class="dropdown-menu dropdown-menu-end services-dropdown" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item orange fw-semibold" href="#">{{'navbar.taxservices' | translate}}</a></li>
                <li><a class="dropdown-item orange fw-semibold" href="#">{{'navbar.itinandein' | translate}}</a></li>
                <li><a class="dropdown-item orange fw-semibold" href="#">{{'navbar.translationandnotarypublic' |
                    translate}}</a></li>
                <li><a class="dropdown-item orange fw-semibold" href="#">{{'navbar.businesslicense' | translate}}</a>
                </li>
                <li><a class="dropdown-item orange fw-semibold" href="#">{{'navbar.publicservcies' | translate}}</a>
                </li>
                <li><a class="dropdown-item orange fw-semibold" href="#">{{'navbar.dmv' | translate}}</a></li>
                <li><a class="dropdown-item orange fw-semibold" href="#">{{'navbar.foodvendorservices' | translate}}</a>
                </li>
                <li><a class="dropdown-item orange fw-semibold" href="#">{{'navbar.immigration' | translate}}</a></li>
              </ul>
            </li>
            <!-- About -->
            <li class="nav-item">
              <a class="nav-link fw-medium orange-hover fs-6" href="#">{{'navbar.about' | translate}}</a>
            </li>
            <!-- FAQ -->
            <li class="nav-item">
              <a class="nav-link fw-medium orange-hover fs-6" href="#">{{'navbar.faq' | translate}}</a>
            </li>
            <!-- Contact -->
            <li class="nav-item">
              <a class="nav-link fw-medium orange-hover fs-6" href="#">{{'navbar.contact' | translate}}</a>
            </li>
            <!-- Search -->
            <li class="nav-item">
              <a class="nav-link fw-medium orange-hover fs-6" href="#"><i class="pi pi-search fs-6"></i></a>
            </li>
          </ul>

          <!-- Language & Login & Book A Service Button -->
          <div class="d-flex justify-content-start align-items-center gap-4"
            [class]="isArabic ? ' ms-auto cairo' : 'me-auto'" [class]="isSpanish ? 'gap-2 text-nowrap' : ''">

            <!-- Language Button -->
            <div class="btn-group language-btn-group">
              <button type="button" class="btn gap-2 d-flex align-items-center outline-0" data-bs-toggle="dropdown"
                aria-expanded="false" [title]="isEnglish ? 'English' : isArabic ? 'عربي' : isSpanish ? 'Español' : ''">
                <i class="pi pi-globe fs-6"></i>
              </button>
              <!-- <button type="button" class="btn dropdown-toggle gap-2 d-flex align-items-center" data-bs-toggle="dropdown"
                aria-expanded="false">
                @if (isEnglish) {
                <span class="">{{'navbar.english' | translate}}</span>
                } @else if (isArabic) {
                <span class="">{{'navbar.arabic' | translate}}</span>
                } @else if (isSpanish) {
                <span class="">{{'navbar.spanish' | translate}}</span>
                }
              </button> -->
              <ul class="dropdown-menu language-dropdown">
                <li>
                  <a class="dropdown-item d-flex align-items-center gap-2" href="#" (click)="changeLanguage('en')">
                    <img src="assets/images/navbar/language-icons/america.svg" alt="" class="flag-icon">
                    <span class="">{{'navbar.english' | translate}}</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center gap-2" href="#" (click)="changeLanguage('ar')">
                    <img src="assets/images/navbar/language-icons/egypt.svg" alt="" class="flag-icon">
                    <span class="">{{'navbar.arabic' | translate}}</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center gap-2" href="#" (click)="changeLanguage('sp')">
                    <img src="assets/images/navbar/language-icons/spain.svg" alt="" class="flag-icon">
                    <span class="">{{'navbar.spanish' | translate}}</span>
                  </a>
                </li>
              </ul>
            </div>

            <!-- Login -->
            <a class="nav-link fw-normal primary-clr fs-6" routerLink="auth">{{'navbar.login' | translate}}</a>

            <!-- Book A Service Button -->
            <button type="button" class="btn btn-primary primary-bg fw-normal fs-6 ">{{'navbar.bookaservice' |
              translate}}</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>
