.calendar-card {
  // width: 80%;
  height: 100%;
  background-color: #fff;
  box-shadow: none;
}

.animate-slideIn {
  animation: slideIn 0.5s ease-in-out;
}

label {
  margin-block-end: 0.5rem !important;
  color: #121212 !important;
  font-size: 1rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 100% !important;
  letter-spacing: 0.03rem !important;
}

:host ::ng-deep .mat-calendar {
  width: 15rem !important;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(120%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 992px) {
  .appointment-service-calendar,
  .appointment-service-form {
    width: 50%;
  }

  .book-appointment-btn {
    width: auto !important;
  }
  :host ::ng-deep .mat-calendar {
    width: 25rem !important;
  }
}
