.step-image {
  width: 4.5rem;
  height: 4.5rem;
}

.herozontal-line {
  height: 0.09375rem;
  background: #bdbdbd;
}

@media screen and (min-width: 576px) {
  .herozontal-line {
    width: 4rem;
  }
  .step-title span {
    font-size: 1rem !important;
  }
  .step-description span {
    font-size: 0.875rem !important;
  }
}

@media screen and (min-width: 768px) {
  .how-it-works-description {
    width: 50% !important;
  }

  .captions-container {
    width: 95%;
  }

  .herozontal-line {
    width: 6.75rem;
  }
}

@media screen and (min-width: 992px) {
  .herozontal-line {
    width: 9.75rem;
  }

  .step-title span {
    font-size: 1.1rem !important;
  }
  .step-description span {
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 1200px) {
  .herozontal-line {
    width: 12.75rem;
  }
}

@media screen and (min-width: 1280px) {
  .herozontal-line {
    width: 13.75rem;
  }
}

@media screen and (min-width: 1400px) {
  .herozontal-line {
    width: 16rem;
  }
}

@media screen and (min-width: 1440px) {
  .herozontal-line {
    width: 17.5rem;
  }
}

@media screen and (min-width: 2560px) {
  .herozontal-line {
    width: 33rem;
  }
}
