<div class="bg-[#005DB5] dark:bg-gray-900 min-h-screen flex items-center justify-center p-4">
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-8 max-w-md w-full">
    <h1 class="text-2xl font-bold text-center text-gray-800 dark:text-white mb-6">
      {{ 'AUTH.PASSWORD_RESET' | translate }}
    </h1>

    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
      <app-input
        [label]="'AUTH.NEW_PASSWORD' | translate"
        id="newPassword"
        type="password"
        [placeholder]="'AUTH.ENTER_NEW_PASSWORD' | translate"
        formControlName="newPassword"
        [isInvalid]="!!(newPassword?.invalid && newPassword?.touched)"
        [errorMessage]="getFieldError('newPassword')"
        [minlength]="8"
        [maxlength]="64"
      ></app-input>

      <app-input
        [label]="'AUTH.CONFIRM_PASSWORD' | translate"
        id="confirmPassword"
        type="password"
        [placeholder]="'AUTH.CONFIRM_NEW_PASSWORD' | translate"
        formControlName="confirmPassword"
        [isInvalid]="!!(confirmPassword?.invalid && confirmPassword?.touched)"
        [errorMessage]="getFieldError('confirmPassword')"
        [minlength]="8"
        [maxlength]="64"
      ></app-input>

      <app-button
        [label]="'AUTH.CONTINUE' | translate"
        type="submit"
        [disabled]="newPasswordForm.invalid || isLoading()"
        [loading]="isLoading()"
        [loadingText]="'AUTH.RESETTING_PASSWORD' | translate"
      >
      </app-button>
    </form>

    <div class="text-center pt-4 space-y-2">
      <button
        type="button"
        (click)="onGoBack()"
        class="text-blue-600 dark:text-blue-400 hover:underline mr-4"
      >
        {{ 'AUTH.BACK_TO_OTP' | translate }}
      </button>
      <a [routerLink]="['/auth/sign-in']" class="text-blue-600 dark:text-blue-400 hover:underline">
        {{ 'AUTH.BACK_TO_LOGIN' | translate }}</a
      >
    </div>
  </div>
</div>
