<div class="rating d-flex justify-content-start align-items-center gap-1">
  @if (rating == 1) {
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star text-warning"></i>
  <i class="pi pi-star text-warning"></i>
  <i class="pi pi-star text-warning"></i>
  <i class="pi pi-star text-warning"></i>
  }
  @if (rating == 2) {
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star text-warning"></i>
  <i class="pi pi-star text-warning"></i>
  <i class="pi pi-star text-warning"></i>
  }
  @if (rating == 3) {
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star text-warning"></i>
  <i class="pi pi-star text-warning"></i>
  }
  @if (rating == 4) {
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star text-warning"></i>
  }
  @if (rating == 5) {
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star-fill text-warning"></i>
  <i class="pi pi-star-fill text-warning"></i>
  }
</div>
