<footer class="container-fluid p-5">
  <div
    class="container-fluid d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-start text-body">

    <!-- Group 0 -->
    <div class="d-flex flex-column justify-content-center align-items-center gap-2 group-0 w-100">
      <img src="assets/images/logo/logo.png" alt="logo" class="img-fluid footer-logo">
      <p class="text-center text-white">
        <b>{{'footer.businessnetwork' | translate}}</b> {{'footer.toestablish' | translate}}
        {{'footer.achieveyourbusiness' | translate}}
      </p>
    </div>

    <div class="container d-block d-lg-none">
      <hr>
    </div>

    <!-- Group 1 -->
    <ul class="nav flex-column">
      <li class="nav-item">
        <h5 class="nav-link list-header text-white">{{'footer.usefullinks' | translate}}</h5>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{'footer.home' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{'footer.ourteam' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{'footer.contactus' | translate}}</a>
      </li>
    </ul>

    <div class="container d-block d-lg-none">
      <hr>
    </div>

    <!-- Group 2 -->
    <ul class="nav flex-column">
      <li class="nav-item">
        <h5 class="nav-link list-header text-white">{{'footer.policiesandterms' | translate}}</h5>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{'footer.smstermsandconditions' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{'footer.privacypolicy' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{'footer.refundpolicy' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{'footer.choiceoptinoptout' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{'footer.policymodifications' | translate}}</a>
      </li>
    </ul>

    <div class="container d-block d-lg-none">
      <hr>
    </div>

    <!-- Group 3 -->
    <ul class="nav flex-column">
      <li class="nav">
        <h5 class="nav-link list-header text-white">{{'footer.earnmoneywithus' | translate}}</h5>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{'footer.sellproductsongahbiz' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{'footer.advertiseyourservices' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{'footer.selfpublishwithus' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{'footer.becomeserviceagent' | translate}}</a>
      </li>
    </ul>

  </div>

  <div class="container">
    <hr class="border-white">
  </div>

  <div class="container d-flex flex-column flex-lg-row justify-content-center align-items-center">

    <div class="w-50">
      <p class="text-white fs-6 fw-medium">© 2025 ServaBest. {{'footer.allrightsreserved' | translate}}</p>
    </div>

    <div class="social-media-container container d-flex justify-content-end align-items-center w-50 gap-3 h-100">
      <a href="" class="text-decoration-none social-media-icon">
        <i class="pi pi-facebook fs-4 icon-color text-white"></i>
      </a>
      <a href="" class="text-decoration-none social-media-icon">
        <i class="pi pi-twitter fs-4 icon-color text-white"></i>
      </a>
      <a href="" class="text-decoration-none social-media-icon">
        <i class="pi pi-instagram fs-4 icon-color text-white"></i>
      </a>
      <a href="" class="text-decoration-none social-media-icon">
        <i class="pi pi-linkedin fs-4 icon-color text-white"></i>
      </a>
    </div>
  </div>
</footer>
