<footer class="container-fluid p-4 p-md-5" style="min-height: 300px;">
  <!-- Use Bootstrap grid for tablet two-column layout -->
  <div class="container-fluid" style="min-height: 280px;">
    <div class="row g-4 g-lg-5 align-items-start">
      <!-- Logo Section - Full width on tablet -->
      <div
        class="col-12 col-md-12 col-lg-4 col-xl-3 d-flex flex-column justify-content-center align-items-center align-items-lg-start gap-3 group-0">
        <img ngSrc="assets/images/logo/logo.webp" alt="logo" class="img-fluid footer-logo cursor-pointer"
          style="max-width: 200px;" onclick="window.location.href='/'" width="200" height="89">
        <p class="text-center text-lg-start text-white fs-6 lh-base mb-0">
          <b class="d-block mb-1">{{ 'footer.businessnetwork' | translate }}</b>
          {{ 'footer.toestablish' | translate }} {{ 'footer.achieveyourbusiness' | translate }}
        </p>
      </div>

      <!-- Two columns for the links on tablet -->
      <div class="col-12 col-md-6 col-lg-2">
        <ul class="nav flex-column gap-2">
          <li class="nav-item">
            <h5 class="nav-link list-header text-white p-0 mb-1">
              {{ 'footer.quicklinks' | translate }}
            </h5>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.home">{{ 'footer.home' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.about">{{ 'footer.ourteam' | translate }}</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="ROUTES.contact" class="nav-link p-0 py-1">{{
              'footer.contactus' | translate
              }}</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-6 col-lg-2">
        <ul class="nav flex-column gap-2">
          <li class="nav-item">
            <h5 class="nav-link list-header text-white p-0 mb-1">
              {{ 'footer.policiesandterms' | translate }}
            </h5>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.termsAndConditions" (click)="scrollTop()">
              {{ 'footer.termsandconditions' | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.privacyPolicy" (click)="scrollTop()">
              {{ 'footer.privacypolicy' | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.privacyPolicy" (click)="scrollTop()">
              {{ 'footer.refundpolicy' | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.privacyPolicy" (click)="scrollTop()">{{
              'footer.choiceoptinoptout' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.privacyPolicy" (click)="scrollTop()">{{
              'footer.policymodifications' | translate }}</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-6 col-lg-2">
        <ul class="nav flex-column gap-2">
          <li class="nav">
            <h5 class="nav-link list-header text-white p-0 mb-1">
              {{ 'footer.earnmoneywithus' | translate }}
            </h5>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.contact">{{
              'footer.sellproductsongahbiz' | translate
              }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.contact">{{
              'footer.advertiseyourservices' | translate
              }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.contact">{{ 'footer.selfpublishwithus' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.contact">{{ 'footer.becomeserviceagent' | translate }}</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-6 col-lg-2">
        <ul class="nav flex-column gap-2">
          <li class="nav">
            <h5 class="nav-link list-header text-white p-0 mb-1">
              {{ 'footer.needhelp' | translate }}
            </h5>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.completeProfile">{{ 'footer.your-account' | translate
              }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.cart">{{ 'footer.cart' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.completeProfile">{{ 'footer.account-settings' | translate
              }}</a>
          </li>
          <li class="nav-item">
            <!-- TODO: Create payments help page -->
            <a class="nav-link p-0 py-1" [routerLink]="ROUTES.contact">{{ 'footer.payments' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container mt-4 mt-md-5">
    <hr class="border-white my-3 my-md-4" />
  </div>

  <div
    class="container d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center gap-3">
    <div class="text-center text-md-start">
      <p class="text-white fs-6 fw-medium mb-0">
        © 2025 ServaBest. {{ 'footer.allrightsreserved' | translate }}
      </p>
    </div>

    <div
      class="social-media-container d-flex justify-content-center justify-content-md-end align-items-center gap-3 gap-md-4">
      <a href="https://www.facebook.com/share/1Mk5R5ky3o" class="text-decoration-none social-media-icon facebook"
        target="_blank">
        <i class="pi pi-facebook fs-5 text-white"></i>
      </a>
      <a href="https://www.instagram.com/mogaberus/" class="text-decoration-none social-media-icon instagram"
        target="_blank">
        <i class="pi pi-instagram fs-5 text-white"></i>
      </a>
      <a href="https://www.linkedin.com/company/servabest/" class="text-decoration-none social-media-icon linkedin"
        target="_blank">
        <i class="pi pi-linkedin fs-5 text-white"></i>
      </a>
    </div>
  </div>
</footer>