.step-image {
  width: 4.5rem;
  height: 4.5rem;
}

.vertical-line {
  width: 0.09375rem;
  height: 4rem;
  background: #bdbdbd;
}

.captions-container {
  gap: 3rem;
}

@media screen and (max-width: 320px) {
  .vertical-line {
    height: 6rem;
  }
}
