<div class="container-fluid p-5 terms d-flex flex-column justify-content-center align-content-center">
  <div class="privacy-image w-100 d-flex justify-content-center mb-4">
    <img src="assets/images/landingpage/terms-privacy/privacy.png" alt="" class="w-25">
  </div>
  <div class="privacy-content">
    <p class="last-update text-muted">Last Update: 5 June 2025</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, excepturi cumque maxime non nisi deleniti,
      aliquid repudiandae expedita ab et accusantium impedit error sunt vel consectetur, atque velit! Quibusdam
      cupiditate, officiis dolor consequuntur quaerat ratione voluptates culpa facere. Vel voluptate, sunt laudantium in
      nobis explicabo sed fugit libero inventore illo ipsa tempore ipsam obcaecati temporibus aliquid? Magni aperiam
      natus voluptas ex. Praesentium officiis nam repellendus cupiditate illum perspiciatis aliquid? Eveniet repellat,
      dolor quas unde ad dolorum eius nihil velit iste dicta debitis accusamus hic atque earum, harum consequatur. A
      minus odio adipisci iusto ea porro, atque nesciunt magni consequuntur dignissimos ducimus doloremque tenetur
      voluptatum id soluta quia cum error aspernatur vel quidem nemo nulla sunt. Optio nihil qui nemo at veritatis illo,
      ad consectetur nesciunt, voluptates voluptas ducimus tenetur! Ipsa adipisci, optio quidem esse veniam in deleniti
      a dolorem iusto rem? Quibusdam tempore recusandae aperiam officia, veniam sapiente amet. Tenetur.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At, optio eius, tempora exercitationem voluptate
      assumenda, delectus officia mollitia quaerat amet ipsam ad alias nesciunt. Cumque amet mollitia doloremque iure
      corrupti veritatis praesentium, beatae voluptate aliquam consequatur quo repellendus deserunt totam minus
      necessitatibus dolor deleniti eveniet pariatur corporis nesciunt? Sapiente vitae esse asperiores pariatur sed non
      deserunt. Perspiciatis consectetur asperiores minima quia hic explicabo distinctio eveniet rerum cumque laborum
      vero in ducimus, culpa assumenda error rem nulla enim temporibus ratione, molestiae natus. Labore consequuntur ea
      accusamus, architecto accusantium minus assumenda consequatur iure ipsum quo ipsa voluptatem omnis quidem quaerat.
      Quisquam fugiat debitis obcaecati alias voluptates nulla libero voluptatibus atque iusto ad. Minima impedit quidem
      nisi iusto? In explicabo aspernatur quam deleniti expedita. Magni eligendi eos ad, ipsam sunt voluptatibus
      doloribus eaque iusto libero, debitis fuga provident quae consequuntur iste, illum fugiat autem voluptate veniam
      cupiditate corrupti quam veritatis omnis laudantium. Iusto?
    </p>
  </div>
</div>
