<div class="custom-gallery">
  <div class="gallery-item-container">
    <div class="gallery-icons">
      <app-favorite-icon [serviceId]="offerId"></app-favorite-icon>

      <app-copy-link [offerId]="offerId"></app-copy-link>
    </div>

    <button (click)="prevImage()" type="button" class="main-arrow prev">
      <i class="pi pi-chevron-left"></i>
    </button>
    <button (click)="nextImage()" type="button" class="main-arrow next">
      <i class="pi pi-chevron-right"></i>
    </button>

    @if (selectedImage) {
    <img [src]="selectedImage.itemImageSrc || 'assets/images/placeholder.jpg'"
      [alt]="selectedImage.alt || 'Main service image'" class="main-image" />
    }
  </div>

  <div class="thumbnail-section">
    <div class="thumbnail-scroller" #thumbnailScroller>
      @for (image of galleryImages; track image.thumbnailImageSrc) {
      <img [src]="image.thumbnailImageSrc || 'assets/images/placeholder.jpg'" [alt]="image.alt || 'Service thumbnail'"
        class="thumbnail-image" [class.active]="image === selectedImage" (click)="selectImage(image)" />
      }
    </div>

    <div class="thumb-arrow-column">
      <button class="thumb-arrow" type="button" (click)="scrollThumbnails('right')" [disabled]="!canScrollRight">
        <i class="pi pi-chevron-right"></i>
      </button>

      <button class="thumb-arrow" type="button" (click)="scrollThumbnails('left')" [disabled]="!canScrollLeft">
        <i class="pi pi-chevron-left"></i>
      </button>
    </div>
  </div>
</div>